<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Gianluca Mazzilli</h2>
            <h4>gimazzilli@minsait.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>


    <mat-divider></mat-divider>

    <h2 matSubheader>MANAGEMENT</h2>

    <a mat-list-item routerLinkActive="" routerLink="/progetti"><span class="material-icons">description</span>Progetti</a>
    <a mat-list-item routerLinkActive="" routerLink="/risorse"><span class="material-icons">person_outline</span>Risorse</a>
    <a mat-list-item routerLinkActive="" routerLink="/allocazioni"><span class="material-icons">computer</span>Allocazioni</a>

</mat-nav-list>